<form action="fetchpicture">
  <button class="btn btn-primary" type="submit" name="picturetype" value="today">Today's Picture</button></a>
  <button class="btn btn-primary" type="submit" name="picturetype" value="random">Random Picture</button></a>
</form>

<br>

<form action="favorites">
  <button class="btn btn-info" type="submit" name="favorites" value="all">Favorite Pictures</button></a>
</form>
